In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('UpdatedResumeDataSet.csv')

In [6]:
data.columns

Index(['Category', 'Resume'], dtype='object')

In [4]:
data['Category'].value_counts()

Category
Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Sales                        40
Data Science                 40
Mechanical Engineer          40
ETL Developer                40
Blockchain                   40
Operations Manager           40
Arts                         36
Database                     33
Health and fitness           30
PMO                          30
Electrical Engineering       30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
Civil Engineer               24
SAP Developer                24
Advocate                     20
Name: count, dtype: int64

I am going to extract relevant columns

In [7]:
resume_data = data[['Category', 'Resume']]

In [9]:
import re
def extract_skills(resume_text):
  skills = re.findall(r'\b(python|java|sql|machine learning|data analysis)\b', resume_text.lower())
  return skills

resume_data['Skills'] = resume_data['Resume'].apply(extract_skills)

In [10]:
from collections import Counter

skill_category_mapping = {}
top_skills_per_category = {}

for category, group in resume_data.groupby('Category'):
  all_skills = group['Skills'].sum()  # Use the extracted skills
  skill_counts = Counter(all_skills)
  skill_category_mapping[category] = all_skills
  top_skills_per_category[category] = [skill for skill, count in skill_counts.most_common(10)]

In [11]:
def recommend_skills(user_resume, target_category):
  user_skills = extract_skills(user_resume)  # Use the extraction function
  target_skills = top_skills_per_category.get(target_category, [])
  missing_skills = list(set(target_skills) - set(user_skills))
  return missing_skills

In [12]:
user_resume = "My resume includes Python, machine learning, and data analysis."
target_category = "Data Science"
recommended_skills = recommend_skills(user_resume, target_category)
print("Recommended Skills:", recommended_skills)

Recommended Skills: ['sql', 'java']